<!-- Form Start -->
<div class="form-container">
    <h3 class="form-container__title" i18n="@@formContactTitle">Contáctenos</h3>
    <form [formGroup]="formEmail" class="form" name="formEmail" data-netlify="true">
        <input formControlName="email" class="form__input" name="email" type="email" placeholder="Email" i18n-placeholder="@@formContactInputPlaceholder">
        <textarea formControlName="message" class="form__textarea" name="message" placeholder="Mensaje" i18n-placeholder="@@formContactTextareaPlaceholder"></textarea>
        <button (click)="sendEmail()" class="form__button" type="submit" i18n="@@formContactButton">Enviar</button>
    </form>
</div>
<!-- Form End -->