<!-- Service Section Start -->
<section class="service-section" id="serviceSection">
    <h3 class="service__subtitle" i18n="@@serviceSubtitle">Te Brindamos</h3>
    <h2 class="service__title" i18n="@@serviceTitle">Nuestros Mejores Servicios</h2>
    <span class="service__divider" i18n-aria-label="@@serviceDividerAriaLabel" aria-label="Division"></span>

    <div class="card-container">
        @for (card of cards(); track card.title) {
            <div class="card">
                <picture class="card-image-container">
                    <img class="card-image-container__image" [ngSrc]="card.icon" [alt]="card.altImg" width="45" height="45" fetchpriority="auto" loading="eager">
                </picture>

                <h3 class="card__title">{{ card.title }}</h3>
                <p class="card__text">{{ card.description }}</p>
            </div>
        }
    </div>
</section>
<!-- Service Section End -->