<!-- Service Section Start -->
<section class="service-section" id="serviceSection">
    <app-title [title]="presentation().title" [subTitle]="presentation().subTitle"/>
    <div #reference aria-hidden="true"></div>

    @defer (on viewport(reference); prefetch on idle) {
        <app-card [cards]="cards()"/>
    } @placeholder {
        <h2 class="card-placeholder" i18n="@@cardPlaceholder">Contamos con los mejores servicios: Tecnología, Materiales, Formación, Asesoramiento, Planificación, Post Venta...</h2>
    }
</section>
<!-- Service Section End -->