@use "vars";
@use "mixins";

.service-section {
  // the min-height is necessary for the scroll to element and deferrals views
  min-height: 920px;
  padding: 84px 16px 64px;
  background-color: vars.$primary-white;

  // Custom media query
  @media only screen and (max-width: 1000px) {
    min-height: 1250px;
  }

  // Custom media query
  @media only screen and (max-width: 660px) {
    min-height: 2300px;
  }

  .card-placeholder {
    margin-top: 84px;
    color: vars.$primary-grey;
    @include mixins.font(vars.$font-family-heebo, 1rem, 300);
  }
}