<!-- Presentation Start -->
<div class="presentation">
    <h2 class="presentation__subtitle" i18n="@@presentationSubTitle">¿Quiénes Somos?</h2>
    <h3 class="presentation__title" i18n="@@presentationTitle">Climatización Sustentable</h3>
    <p class="presentation__text" i18n="@@presentationText">Somos una empresa dedicada a la climatización amigable con el medio ambiente, por lo que usamos la tecnología disponible para el ahorro de energía y la menor emisión de contaminantes, sin perder el confort y rendimiento. Nuestro equipo de trabajo está formado por técnicos y personal altamente calificado.</p>
    <a class="presentation__link" rel="contact" (click)="fireAnalytic()" [href]="whatsappUrl" i18n-title="@@presentationContactTitle" title="Contáctenos" i18n="@@presentationContactLink">Contáctenos</a>
</div>
<!-- Presentation End -->