@use "mixins";
@use "vars";
@use "typography";

.about-section {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: vars.$primary-box-shadow;
  @include mixins.flexbox(center, center);

  // Tablet and mobile media query
  @media only screen and (max-width: vars.$desktop) {
    flex-direction: column;
  }

  .carousel {
    width: 50%;
    height: 700px;

    // Desktop xl media query
    @media only screen and (max-width: vars.$desktop-xl) {
      height: 600px;
    }

    // Tablet and mobile media query
    @media only screen and (max-width: vars.$desktop) {
      width: 100%;
      height: 400px;
    }
  }

  .presentation {
    width: 50%;
    height: 700px;

    // Desktop xl media query
    @media only screen and (max-width: vars.$desktop-xl) {
      height: 600px;
    }

    // Tablet and mobile media query
    @media only screen and (max-width: vars.$desktop) {
      width: 100%;
      height: auto;
    }
  }
}