<!-- About Section Start -->
<section class="about-section" id="aboutSection">
    <div class="about">
        <h2 class="about__subtitle" i18n="@@aboutSubTitle">¿Quiénes Somos?</h2>
        <h3 class="about__title" i18n="@@aboutTitle">Climatización Sustentable</h3>
        <p class="about__text" i18n="@@aboutText">Somos una empresa dedicada a la climatización amigable con el medio ambiente, por lo que usamos la tecnología disponible para el ahorro de energía y la menor emisión de contaminantes, sin perder el confort y rendimiento. Nuestro equipo de trabajo está formado por técnicos y personal altamente calificado.</p>
        <a class="about__link" [href]="whatsappUrl" target="_blank" i18n="@@aboutContactLink">Contáctenos</a>
    </div>

    <div class="carousel">
        <app-carousel [slides]="carousel()"/>
    </div>
</section>
<!-- About Section End -->
