@use "typography";
@use "mixins";
@use "vars";

.contact-container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(78,114,31,1) 50%, rgba(78,114,31,1) 100%);

  // Tablet and mobile media query
  @media only screen and (max-width: vars.$desktop) {
    background: vars.$tertiary-green;
  }

  .contact-section {
    width: 100%;
    height: 100%;
    @include mixins.flexbox(center, center);

    // Tablet and mobile media query
    @media only screen and (max-width: vars.$desktop) {
      flex-direction: column;
    }

    .form {
      width: 50%;
      height: 400px;
      box-sizing: border-box;
      padding: 16px;

      // Tablet and mobile media query
      @media only screen and (max-width: vars.$desktop) {
        background-color: vars.$primary-white;
        width: 100%;
      }
    }
  }

  .information {
    width: 50%;
    height: 400px;
    @include mixins.flexbox(center, start);

    // Tablet and mobile media query
    @media only screen and (max-width: vars.$desktop) {
      width: 100%;
      height: 200px;
      background-color: vars.$tertiary-green;
    }

    // Mobile media query
    @media only screen and (max-width: vars.$tablet) {
      height: 120px;
    }
  }

  .author-section {
    width: 50%;
    height: auto;
    padding-top: 32px;
    padding-bottom: 8px;

    .author-section__text {
      margin: 0;
      font-size: 0.8rem;

      span {
        border-bottom: 1px solid;
      }
    }

    // Tablet and mobile media query
    @media only screen and (max-width: vars.$desktop) {
      width: 100%;
      color: vars.$primary-white;

      .author-section__text {
        span {
          border-bottom: 1px solid vars.$primary-white;
        }
      }
    }
  }
}