<!-- Notfound Start -->
<section class="notfound-404" id="notfound">
    <div class="notfound-404-container">
        <h2 class="notfound-404__title" i18n="@@notFoundTitle">Oops! Page not found</h2>
        <h1 class="notfound-404__subtitle" i18n="@@notFoundSubtitle">404</h1>
        <h3 class="notfound-404__text" i18n="@@notFoundText">We are sorry, but the page you requested was not found</h3>
        <a class="notfound-404__link" i18n="@@notFoundLink" title="Home page" i18n-title="@@notFoundLinkTitle" routerLink="/">Go to home page</a>
    </div>
</section>
<!-- Notfound End -->