<header>
    <app-header (navigation)="scrollToElement($event)"/>
</header>

<main class="container">
    @defer (on immediate; prefetch on idle) {
        <app-about/>
    } @placeholder {
        <p i18n="@@aboutLoadingSection">Cargando sección de about...</p>
    }

    @defer (on viewport; prefetch on idle) {
        <app-services/>
    } @placeholder {
        <p i18n="@@servicesLoadingSection">Cargando sección de servicios...</p>
    }

    @defer (on viewport; prefetch on idle) {
        <app-clients/>
    } @placeholder {
        <p i18n="@@clientsLoadingSection">Cargando sección de clientes...</p>
    }
</main>

<footer>

</footer>
