<!-- Information Start -->
<div class="information-container" [@contactAnimation]>
    @for(item of informationItems(); track item.text) {
        <a class="information-link" [href]="item.href" target="_blank">
            <picture class="information-link__picture">
                <img [ngSrc]="item.image" [alt]="item.altImage" width="45" height="45" fetchpriority="auto" loading="eager">
            </picture>
            <p class="information-link__text">{{ item.text }}</p>
        </a>
    }
</div>
<!-- Information End -->