<!-- Information Start -->
<div class="information-container" [@contactAnimation]>
    <a class="information-link" [href]="whatsappUrl" target="_blank" i18n-aria-label="@@informationLinkWhatsappLabel" aria-label="Whatsapp">
        <picture class="information-link__picture">
            <img ngSrc="assets/svg/whatsapp.svg" i18n-alt="@@informationIconWhatsappAlt" alt="Whatsapp" width="45" height="45" fetchpriority="auto" loading="eager">
        </picture>
        <p class="information-link__text" i18n="@@informationWhatsappText">+54 9 11 6218-8835</p>
    </a>

    <a class="information-link" [href]="instagramUrl" target="_blank" i18n-aria-label="@@informationLinkInstagramLabel" aria-label="Instagram">
        <picture class="information-link__picture">
            <img ngSrc="assets/svg/instagram.svg" i18n-alt="@@informationIconInstagramAlt" alt="Instagram" width="45" height="45" fetchpriority="auto" loading="eager">
        </picture>
        <p class="information-link__text" i18n="@@informationInstagramText">&#64;greenheatclima</p>
    </a>

    <a class="information-link" [href]="gmailUrl" target="_blank" i18n-aria-label="@@informationLinkCorreoLabel" aria-label="Correo">
        <picture class="information-link__picture">
            <img ngSrc="assets/svg/mail.svg" i18n-alt="@@informationIconMailAlt" alt="Correo" width="45" height="45" fetchpriority="auto" loading="eager">
        </picture>
        <p class="information-link__text" i18n="@@informationMailText">infoghclima&#64;gmail.com</p>
    </a>
</div>
<!-- Information End -->