/**
 * File with different variables definitions
 * @access public
 */

// Color variables
$primary-green: #5a9712;
$primary-white: #ffff;
$primary-blue: #0e2e50;
$primary-grey: rgba(0, 0, 0, 0.1);
$primary-box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);

$secondary-green: #66ad12;
$secondary-white: #f8f8f8;

// Viewports variables
$phone: 599px;
$tablet: 600px;
$desktop: 900px;

// Font family variables
$font-family-inter: 'Inter', sans-serif;
$font-family-heebo: Heebo, sans-serif;