<!-- Header Section Start -->
<section class="header-section" id="headerSection" appObserverVisibility (scrolledToTop)="handleScroll($event)" appObserverDevice (mobileDeviceDetermined)="handleDevice($event)">
    <div class="header" [@scrollTrigger]="isMaximize() && !this.isMobileDevice() ? 'minimize' : 'maximize'">
        <app-nav [navItems]="listItemNavigation()" (navSection)="handlerNavigation($event)"/>
    </div>

    @defer (when isVisibleScrollToTop(); prefetch on idle) {
        <app-scroll-top [isVisible]="isVisibleScrollToTop()" (scrollToTop)="handlerNavigation($event)"/>
    }
</section>
<!-- Header Section End -->